body {
  margin: 0%;
  width: 100%;  
  background-color: #F4E098;
  font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  overflow-x:hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* MARQUEE (sans la balise html obsolète */
@keyframes marquee { 
    0%   { text-indent: 100% }
    100% { text-indent: -300% }
}

#marqueeLike {
    padding:0.3em;
    width: 100%;
    background-color: #f59e82;
    color: white;
    position: absolute;
    height: 2em;
    overflow: hidden;
    animation: marquee 50s linear infinite;
  }

  /* HEADER */
  header {
    width:100%;
  }

  #enTete {
    width: 100%;
    height: 11em;
    background-size: cover;
  }

  #navigation {
    width: 95%;
    margin-left: 3em;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* border: solid white; */
    position: relative;
    right: 1em;
  }

  .navigation img {
    width: 7em;
    height: 7em;
    /* position: absolute; */
  }

  .navigation p {
    text-transform: uppercase;
    margin: 1.5em;
    font-size: 1.5em;
    color: black;
    font-weight: 700;
  }

  .navigation p:hover{
    color: midnightblue;
    text-decoration: none;
    font-size: 1.6em;
  }
  
  /* IMAGE INTRO, TITRES POLICES et TEXTE  */

/* Titre H1 H2 + sous-Titre sur image = #titre */
  #titre{
    width: 100%;
    background-image: url(Images/equipe-agricole-feminine-heureuse-dans-ferme-legumes-biologiques-luxuriantes_818261-48346.jpg);
    height: 33em;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    opacity: 75%;
    box-shadow: 6px 6px 25px grey;
    }

  #titre::after {
      content: "" ;
      width: 100%;
      height: 33em;
      background-color: red ;
      opacity: 50%;
      position: absolute;
    }
  
  h1 {
    margin: 1em;
    color: white;
    font-size:4em;
    width: 55%;
    position: absolute;
    right: 7.7em;
    z-index: 2;
  }
  
  h2 {
    margin: 1em;
    color:white;
    font-size:2.5em;
    font-weight: 400;
    position: absolute;
    top: 3em;
    right: 15em;
    z-index: 2;
  }

  h3 {
    margin: 1em;
    color:white;
    font-size:2.5em;
    font-weight: 1000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  /* 3eme titre = .sous-titre pas en H3 because Google BOT */
  .sous-titre {
    margin: 1em;
    padding: 1em;
    color: white;
    font-size:4em;
    font-weight: 400;
    font-style: normal;
    border: 1em;
    width: 80%;
    position: absolute;
    top: 3.5em;
    left: 2em;
    z-index: 2;
  }

  h4 {
    text-align: center;
    color: midnightblue;
    background-color: #f59e82;
    font-size: 2em;
    width: 40%;
    height: 3em;
    border: solid black 1px;
    border-radius: 20px;
    box-shadow: 10px, 10px;
    align-content: center;
    align-self: center;
    box-shadow: 6px 6px 25px grey;
  }

  h5{
    color: white;
    font-size: 2em;
    font-family: inter;
    /* padding: 1em; */
      }

  h6 {
    text-align: center;
    margin: 1rem;
    font-size: medium;
    font-weight: 500;
  }                                      

  strong {
    font-weight: bold;
    color: midnightblue;
    font-size: large;
  }

  em {
    color:#a50808;
    font-style: normal;
    font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:larger;
  }

/* POLICES */
.poller-one-regular {
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .inter {
    font-family: inter, sans-serif;
    font-weight: 00;
    font-style: bold;
    width: 75%;
  }
  
  /* LOGO 2 ET DECLARATION (MISSION STATEMENT= */
  section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
  /* BLOCS */
  #intro {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #outils {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #mission, #laïus, #icons, #vente {
    width: 95%;
    background-color: white;
    border-radius: 15px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: 6px 6px 25px grey;
   }

   .identity {
    height: 27em;
    box-shadow: 6px 6px 25px grey;
    padding-left: 4em;
  }
   
   #mission img{
    width:25em;
    height: 25em;
    margin: 1%;
   }

  #statement {
    color: green;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    padding: 0.5em;
    position: absolute;
    left: 13em;
    width: 40%;
  }
  
  .missionStatement {
    height: 22em;
    display: flex;
    flex-wrap: wrap;
    padding: 3em;
    padding-left: 6em;
    padding-right: 6em;
   }

  /* BLOC ICONS */
  .reassur {
    height: 15em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
   }

   #icons img {
    width: 5em;
    height: 5em;
   }

   .iconAndText {
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    /* font-size:medium ; */
   }
   
   #icons p {
    height: 10em;
    width: 10em;
    text-align: center ;
  }

  /* VIDEO */

  #ecommerce{
    width: 100%;
    background-color: green;
    height: 83em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: row;
  } 

  #intro-ecommerce {
    margin-left: 4em;
    width:90%;
    height: 33em;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px; 
    box-shadow: 6px 6px 25px rgb(131, 17, 17);
  }
  
  .video{
    width:90%;
    height: 20em;;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    box-shadow: 6px 6px 25px grey;
    border-radius: 15px;
    position: relative;
  }
  
  iframe {
    width: 87%;
    height: 25em;
    border-radius: 15px;
    box-shadow: 6px 6px 25px green;
  }

  .video::after {
    content: "" ;
    width: 87%;
    height: 25em;
    background-color: yellowgreen ;
    opacity: 50%;
    position: absolute;
    top: 4em;
  }
  
  .video:hover::after{
      z-index: -1;
  }

  #textIntroEcommerce {
    margin: 3em;
    margin-left: 4em;
    width: 78%;
    height: 21em;
    background-color: white;
    align-self: center;
    padding: 3em;
    padding-left: 6em;
    padding-right: 6em;
    border-radius: 25px; 
    box-shadow: 6px 6px 25px rgb(131, 17, 17);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
  }

  #statement2 {
    color: green;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    top: 23em;
  }

  /* CARTES */
#produits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.produit {
  width: 26%;
  height: 41em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 6px 25px grey;
  border: solid black 2px;
}

.produit:hover {
  border: solid yellowgreen 6px;
}

#productCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* CONTENU CARTES */
figure {
  position:relative
}

figure img{
  margin: 1em;
  width: 90%;
  height: 14em;
}

.coeur {
  height: 2em;
  width: 2em;
  position: absolute;
  bottom: 19em;
  left: 75%;
}

.stars{
width: 65%;
height: 2.5em;
position: absolute;
left: 0.1em;
bottom: 5.5em;
}

.price{
  margin-left: 2em;
  font-weight: 600;
}

.descr{
  margin: 1.5em;
  font-size: small;
  position: absolute;
  top: 26em;
}

.avis{
  margin: 1em;
  font-size: small;
  position: absolute;
  top: 42em;
}

.boutons {
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 1em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);

    position:absolute;
    bottom: 6.4em;
    left: 15.5em;
}

.boutons:hover {
  background-color: rgba(255, 0, 0, 1);
}

.boutons:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* FORMULAIRE DE PAIEMENT */
#formulaire {
  margin-left: 6em; 
}

form {
  padding: 2em;
  align-content: center;
}

#paiement{
  width: 55%;
  display: flex;;
  justify-content: space-around;
  flex-direction: row;
  background-color: #a50808;
  border-radius: 20px;
  opacity: 70%;
  box-shadow: 8px 8px palevioletred;

}

.PayPal{
  width: 2em;
  height: 2em;
}

.alterPay{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(235, 231, 10);
  font-size: 1.5em;
  text-decoration:underline;
}

.confirm{
  color: aliceblue;
  font-size: 1.3em;
}

.field{
  padding-left:1em;
  margin-left:2em;
  width: 80%;
  height: 2em;
  border-radius: 25px;
  box-shadow: #996757 4px 3px;
}

.field-tittle{
  font-size: 1em;
  color: aliceblue;
}

#checkboxNewsletter{
  width:2em;
  height: 2em;
}

.newsletter{
  color: aliceblue;
}

#validator {
  width:90%;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 2em;
  text-align: center;
  color: #6407fa;
  text-shadow: 1px 1px 1px #000;
  border-radius: 40px;
  background-color: rgb(243, 208, 7);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);

    position:absolute;
    top: 38em;
    left: 1em;

}

#validator:hover {
  background-color: rgb(250, 29, 0);
  color: aliceblue;
  box-shadow: aliceblue 4px 4px;
}

#validator:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


/*  REMERCIEMENT AR/COMMANDE*/

#remerciements{
  width: 75%;
  margin:2em;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  border: solid black 2px;
  border-radius: 40px;
  box-shadow: #f59e82 4px 4px;
}

/* FOOTER */

footer {
  background: linear-gradient(90deg, green, #8360c3, #2ebf91);
  margin: 0%;
  width:100%;
  /* height: 59em; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}


footer:after{
  content: "";
  width: 100%;
  height: 0.5em;
  background-color: aliceblue;
  position: absolute;
  z-index: 1;
  top:55em; 

}

.footer-image{
  width: 10em;
  height: 10em;
}

.footer-image2{
width: 10em;
height: 3em;
}

#liens {
  width: 100%;
  height: 35em;
  color:aliceblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:baseline;
  align-items:center;
  font-size: x-large;
  font-weight: 600;
}

.footer-links {
  width:26%;  
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.liens{
  width:27%;
  font-size: medium;
  font-weight: 600;
  text-shadow: solid black 4px 4px;
  text-decoration: underline lightblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-justify: distribute;
  align-content:flex-start;
}

#countries{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}


/* MEDIA QUERIES */

/* Mobiles */
@media only screen and (max-width: 767px) {
  #produits {
    /* display: flex;
    flex-wrap: wrap; */
    flex-direction: column;
    width: 90%;
    /* justify-content: space-evenly; */
  }
   /* Styles */

   .produit {
    width: 98%;
   
  }
}

/* Tablettes */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* Styles */
  #produits {
    /* display: flex;
    flex-wrap: wrap; */
    flex-direction: row;
    width: 90%;
  }
 
  .produit {
    width: 38%;
   
  }

  h1 {
    right: 4.5em;
  
  }

  #statement {  
    left: 14em;
    font-size: xx-large;
    width: 32%;
    }

    .sous-titre {
      left: 4em;
      font-size: 3.5em;
      width: 45%;
    }

    .missionStatement {
      height: 35em;
    }

    .iconAndText {
      display: flex;
      flex-wrap: wrap;  
      flex-direction: column;
      font-size:small ;
     }
     
     #icons p {
      height: 8em;
      width: 8em;
      text-align: center ;
  
}

.boutons {
  width:2em;
  height: 2em;
  line-height: 2;
  padding: 0 5px;
  font-size: 1em;

}

form {
  width: 90%;
  padding: 2em;
  align-content: center;
}

#formulaire {
  margin-left: 6em; 
  width: 90%;
}

#paiement{
  width: 85%;
bottom: 1em;
}

#remerciements{
  padding: 2em;
}

#liens {
font-size: small;

}

.liens{
  font-size: small;
  text-decoration: none;
}

footer {
  padding: 2em;
  height: 42em;
}

footer:after{
  top:45.5em; 

}

}